modules = ["nodejs-20", "web", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "PERN Stack App"

[[workflows.workflow]]
name = "PERN Stack App"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 80

[userenv.development]
DATABASE_URL = "postgresql://neondb_owner:npg_rkjF2Kb5mntw@ep-morning-field-adnv4g6c-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
